@import "../../styles/Global.scss";
.headerlist{
    padding: 5px 0;
    ul{
        margin: 0 0;
        padding: 0 0;
    }
    li{
        list-style: none;
        display: inline-flex;
        margin: 0 5px ;
        color: white;
       font-family: $poppins;
       font-size: 14px;
        align-items: center;
        transition: all ease-in-out 0.3s;
    }
    a{
        text-decoration: none;
        color: white;

    }
    li:hover a{
        color: $main;
    }
}
.headerlist2{
    padding: 5px 0;
    ul{
        margin: 0 0;
        padding: 0 0;
    }
    li{
        list-style: none;
        display: inline-flex;
        margin: 0 5px ;
    }
    li:hover{
        color: $main;
    }
    a{
        text-decoration: none;
        color: unset;
    }
    float: right;
    button{
        
        color: $verior;
        background-color: white;
        border: 0;
        border-radius: 5px;
        padding: 5px 10px;
        font-family: $mont;
        transition: all ease-in-out 0.3s;
        border: 1px solid transparent;
    }
    button:hover{
        background-color: transparent;
        border: 1px solid white;
        color: white
        ;
    }
}
.icon{
    font-size: 18px;
    color: white;
    transition: all ease-in-out 0.3s;
}
li:hover .icon{
color: $main;
}
.rows{
    align-items: center;
}
.head{
    background-color: $verior;
    color: white;
}