@import "../../styles/Global.scss";
.navbar-brand{
    img{
        // height: 20px;
        height: 50px;
    }
}
.nav-item{
    font-family: $mont;
font-weight:600;
    list-style: none;
    margin: 0 10px;
    position: relative;

}
.nav-item::before{
    position: absolute;
    content: "";
    background-color: $verior;
    width: 0%;
    height: 3px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 0.3s;
}
.nav-item:hover:before{
    width: 100%;
}
.nav-item:hover .nav-link{
    color: $verior;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: $verior !important;
}
.nav-item .active{
    position: relative;
}
.nav-item .active::before{
    position: absolute;
    content: "";
    background-color: $verior;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 0.3s;
}


nav{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    
}
.sticky-top{
    position: sticky !important;
    top: 0;
}
@media only screen and (max-width: 979px) {
    .nav-item::before{
       display: none;
    }
    .nav-item .active::before{
      display: none;
    }
}