.markitem{
    background-color: white;
    height: 200px;
    width: 200px;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
line-height: 180px;    img{
        max-width: 1005;
    }
    margin: 10px;
}
